.bdep/

# IDE
.vscode
.vs

# Compiler/linker output.
#
*.d
*.t
*.i
*.ii
*.o
*.obj
*.so
*.dll
*.a
*.lib
*.exp
*.pdb
*.ilk
*.exe
*.exe.dlls/
*.exe.manifest
*.pc
samples/build/bootstrap/
tests/build/bootstrap/
